<html>
   <head>
       <title>
           Profile
       </title>
       
  
  <style>
  form {
	width: 90%;
	margin:  auto;
	border-radius: 5px;
	padding: 10px;
	border: 2px solid silver;
	font-size: 13px;
	background-color: #c5ee64;

}
form p {
	color: red;
	margin: 0px;
	font-size: 10px;
}

.task_input {
	width: 90%;
	height: 38px;
	margin-right:8px;
	padding: 2px 20px;
	border: 2px solid darkcyan;
	border-radius: 5px;
	font-family: 'Handlee', cursive;
  	font-size: 16px;

}
.add_btn {
	cursor:pointer;
	height: 38px;
	width:80px;
	background: black ;
	color: 	white;
	padding: 5px 20px;
	border-style: none;
	border-radius: 7px;
}

table {
	width:95%;
}


td {
	cursor: pointer;
	position: relative;
	width:45px;
	padding: 8px;
	list-style-type: none;
	font-size: 14px;
	transition: 0.2s;
	text-align: center;


	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


td:hover {
	background:silver ;
}

td.checked {
	text-decoration: line-through;
}


td.checked::before {
	content: '';
	position: absolute;
	border-color: #fff;
	border-style: solid;
	border-width: 0 2px 2px 0;
	top: 10px;
	left: 16px;
	transform: rotate(45deg);
	height: 15px;
	width: 7px;
}

.close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 12px 16px 12px 16px;
}

.close:hover {
	background-color: #f44336;
	color: white;
}
thead{
	text-align: center;
}
td.action{
	color:red;
}
td.task{
	font-family: 'Handlee', cursive;

}

.title b{
	color: gray;
}

   
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="profile.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  --> 
</head>
    <body>
<nav class="navbar">
		<div class="logo">
			<img id="applogo" src="applogo.png" alt="">
		</div>
		<div class="user">
			<div class="userimage">
				<img src="user.png" alt="Error">
				<div class="dropdown-content">
					<a href="#">Link 1</a>
					<a href="#">Link 2</a>
					<a href="/logout">Logout</a>
				</div>
			</div>
		</div>
  </nav>


<div class="todo">

  <div class="row justify-content-center">
  <center>
  <h2 style="margin-bottom:15px;">To-Do List</h2>
  </center>
      <ul>      
	  <li>
          <div class="content">
            <form method="POST" action="/to-do" class="input_form">
          		<input type="text" name="task" class="task_input">
          		<button type="submit" name="submit" id="add_btn" class="add_btn">Add Task</button>
          	</form>
			</div>
			<div style="background:#e3dae3;width:88%;border-radius:12px;margin-top:8px;min-height:135px;">
			<center>
            <table>
                <tr>
            			<th style="width:20px">No.</th>
            			<th>Tasks</th>
            			<th style="width: 20px;">Action</th>
            	</tr>

            	<tbody>
                    <% if(tasks.length > 0){ %>
                    
                        <% var i=1 %>
                        <% for(let task of tasks){ %>
							<tr>
                        <td class="number" width="8"><%- i%></td>
                        <td class="task" width="25px"> <%=task.task%> </td>
                        <td class="action"><a href="/remove/<%= task._id %>">Remove</a></td>
                        </tr>
						<% i++ %>
                        <% } %>
                    <% } %>
            	</tbody>
            </table>
					</center>
            </div>
          </div>
      </li>
    </ul>
</div>
</div>


</div>

<script>

$(function(){
  var $curParent, Content;
  $(document).delegate("td.task","click", function(){
    if($(this).closest("s").length) {
      Content = $(this).parent("s").html();
      $curParent = $(this).closest("s");
      $(Content).insertAfter($curParent);
      $(this).closest("s").remove();
    }
    else {
      $(this).wrapAll("<s />");
    }
  });
});

$(".userimage").click(function(){
  			$(".dropdown-content").toggle();
		});
		$("#applogo").click(function(){
			window.location.href = "/channels"
		})

</script>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</html>